language: node_js

node_js:
  - "stable"

install:
  - yarn

script: 
  - npm install
  - npm audit fix
  - npm test
  - npm run build
  
cache:
  dependancies:
    node_modules

deploy:
  provider: surge
  skip_cleanup: true
  domain: http://timerapp-hm.surge.sh/
  project: ./build/

on: 
  branch: main