language: node_js
node_js:
  - "stable"

script: 
  - npm install
  - npm test
  - npm run build

deploy:
  provider: "surge"
  skip_cleaning: true
  domain:
  project: ./build/

on: 
  branch: master