*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
.mainContainer{
  width: 70%;
  height: 300px;
  margin: 20vh auto;
}
.mainContainer h1{
  text-align: center;
  text-transform: uppercase;
}
.mainContainer h6{
  text-align: right;
  margin-top: 50px;
  text-transform: uppercase;
}
.timerContainer{
  width: 100%;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timerContainer > .timer{
  font-weight: bolder;  
  text-align: center;
  margin: 10px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.buttonContainer > .buttons{
  width: 200px;
  outline: none;
  border: white 1px solid;
  background: transparent;
  color: white;
  margin: 2px;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
.buttonContainer > .buttons:nth-child(1):hover{
  background-color: green;
}
.buttonContainer > .buttons:nth-child(2):hover{
  background-color: rgb(196, 0, 0);
}
.buttonContainer > .buttons:nth-child(3):hover{
  background-color: rgb(231, 112, 0);
}
@media (max-width: 400px) {
  .timerContainer{
    font-size: 70px;
  }
}